@model Domain.CadastroCliente
<div class="card shadow-sm rounded-1 w-50">
	<div class="px-2">
		<div class="d-flex d-inline">
			<div class="w-25">
				<label class="col-form-label">ID</label>
				<input class="campo form-control" asp-for="Id" readonly />
			</div>
			<div class="w-75 px-1">
				<label class="col-form-label">Nome</label>
				<input class="campo form-control" asp-for="Name" />
			</div>
		</div>
		<div class="d-flex d-inline">
			<div class="w-25">
				<label class="col-form-label">Data de Nacimento</label>
				<input class="campo form-control" asp-for="DataNacimento" value="@Model.DataNacimento.ToString("yyyy-MM-dd")" type="date" />
			</div>
			<div class="w-75 px-1">
				<label class="col-form-label">Telefone</label>
				<input class="campo form-control" asp-for="Telefone" type="tel" />
			</div>
		</div>
		<div>
			<label class="col-form-label">Email</label>
			<input class="campo form-control" asp-for="Email" type="email" />
		</div>
		<div class="py-2">
			<button class="btn btn-outline-warning" id="btnEndereco">Adicionar Endereço</button>
		</div>

		<table id="example" class="table">
			<thead class="table-active">
				<tr>
					<th scope="col" hidden>#</th>
					<th scope="col">Logadouro</th>
					<th scope="col">Numero</th>
					<th scope="col">CEP</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody id="tbEndeco">
				@foreach (var item in Model.Endereco)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.logadouro</td>
						<td>@item.numero</td>
						<td>@item.CEP</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

</div>
